html, body {
	margin: 0px;
	height: 100%;
}

body {
	background: #202020 url('../images/background.jpg') no-repeat;
	background-size: 100% auto;
	font-size: 16px;
}

b { color: #ddd; }
a { color: #bbb; text-decoration: none; }
a:hover { text-decoration: underline; }

#main {
	position: absolute;
	top: 0px;
	left: 21em;
	right: 21em;
	bottom: 0px;
}

.sidebar {
	width: 24em;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #bbb;
	padding: 0 1em;
	font-size: 0.8em;
}

.sidebar h1 {
	color: #fff;
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
	font-size: 1.4em;
	margin: 0 0 0.5em;
	padding: 0;
}

h1.icon {
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 1em 1em;
	padding-left: 1.2em;
}

.icon.clock { background-image: url('../images/clock32.png'); }
.icon.cup { background-image: url('../images/cup32.png'); }
.icon.mail { background-image: url('../images/mail32.png'); }

.sidebar ul {
	padding-left: 2em;
}

.sidebar li {
	padding: 0.2em 0;
}

.sidebar.left {
	float: left;
}

.sidebar.right {
	float: right;
}

.sidebar .box {
	border-top: 1px solid #999;
	padding-top: 1em;
	margin-bottom: 1em;
}

#clock .main {
	font-size: 15em;
}

#clock_hour {
	color: rgba(200, 200, 200, 0.7);
}

#clock_min {
	display: block;
	margin-top: -0.6em;
	color: rgba(255, 100, 50, 0.8);
}

#clock_date {
	margin-left: 4em;
	border-left: 0.1em solid rgb(255, 100, 50);
	padding-left: 0.4em;
	font-weight: bold;
	color: #bbb;
}
